@import "../helpers/colors";
@import "../helpers/mixins";

.auth-page {
    padding: 3rem 0;

    .container {
        .wrapper-auth-content {
            max-width: 600px;
            margin-inline: auto;
            border: 1px solid #000;
            border-radius: 4px;
            padding: 1.5rem 1rem .3rem 1rem;

            h2 {
                text-align: center;
            }

            @include FormDefaultStyle;

            .sign-up-area {
                p {
                    text-align: center;
                    font-size: .85rem;

                    a {
                        color: $secondary-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}